@{
    ViewBag.Title = "Home Page";
}
<head>
    
</head>

<body id="home">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">HI! I'm Matt.</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"></h3>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="/Home/About" class="btn btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Learn More!</span></a>
                </li>
                <li>
                    <a href="/Home/Contact" class="btn btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Contact Me!</span></a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
       </div>
    

    

        


      


        



        <footer>

            <div class="row">
                <div class="col-md-7">
                    <h3 class="footer-title">Follow Me!</h3>
                    <p>
                        Vuoi ricevere news su altri template?<br />
                        Visita Andrea Galanti.it e vedrai tutte le news riguardanti nuovi Theme!<br />
                        Go to: <a href="http://andreagalanti.it" target="_blank">andreagalanti.it</a>
                    </p>

                    <!-- LICENSE -->
                    <a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
                       property="dc:title">Flatfy Theme</a> by
                    <a rel="dc:creator" href="http://www.andreagalanti.it"
                       property="cc:attributionName">Andrea Galanti</a>
                    is licensed to the public under
                    <BR>the <a rel="license"
                               href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">
                        Creative
                        Commons Attribution 3.0 License - NOT COMMERCIAL
                    </a>.


                </div> <!-- /col-xs-7 -->

                <div class="col-md-5">
                    <div class="footer-banner">
                        <h3 class="footer-title">Flatfy Theme</h3>
                        <ul>
                            <li>12 Column Grid Bootstrap</li>
                            <li>Form Contact</li>
                            <li>Drag Gallery</li>
                            <li>Full Responsive</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        Go to: <a href="http://andreagalanti.it/flatfy" target="_blank">andreagalanti.it/flatfy</a>
                    </div>
                </div>
            </div>

        </footer>

</body>