@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Music-->
<section id="music" class="content-section text-center">
    <div class="container">
        <div class="col-md-12 col-xs-12 wow fadeInDownBig">
            <h2>What I'm Listening To</h2>
            <hr />
        </div>
    </div>
    <div class="record">
        <div class="container">
            <div class="row wow fadeInLeftBig">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="http://store.mymorningjacket.com/collections/music/products/z-cd" class="artist" target="_blank">
                        <img src="~/img/mymorningjacket_z.jpg" class="imgmusic img-responsive" />
                        <span class="info"><span>My Morning Jacket - <em>Z</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="https://secure.dominorecordco.com/cart/?site=29&ses_key=6i0n7r7l&item=9411" class="artist" target="_blank">
                        <img src="~/img/anco_paintingwith.jpg" class="imgmusic" />
                        <span class="info"><span>Animal Collective - <em>Painting With</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="https://megamart.subpop.com/releases/fleet_foxes/helplessness_blues" class="artist" target="_blank">
                        <img src="~/img/fleetfoxes_helplessnessblues.jpg" class="imgmusic" />
                        <span class="info"><span>Fleet Foxes - <br /><em>Helplessness Blues</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="https://privateisland.bandcamp.com/album/a-good-look-ep" class="artist" target="_blank">
                        <img src="~/img/pisland_agoodlook.jpg" class="imgmusic" />
                        <span class="info"><span>Private Island - <em>A Good Look</em></span></span>
                    </a>
                </div>
            </div>
            <div class="row wow fadeInRightBig">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="http://www.rockandrolltshirts.com/RNR_Store/grizzly-bear-music" class="artist" target="_blank">
                        <img src="~/img/grizzlybear_shields.png" class="imgmusic" />
                        <span class="info"><span>Grizzly Bear - <em>Shields</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="http://music.sufjan.com/album/carrie-lowell" class="artist" target="_blank">
                        <img src="~/img/sufjanstevens_carrieandlowell.jpg" class="imgmusic" />
                        <span class="info"><span>Sufjan Stevens - <em>Carrie &amp; Lowell</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="http://www.rockandrolltshirts.com/RNR_Store/The-War-on-Drugs-Music" class="artist" target="_blank">
                        <img src="~/img/warondrugslostinthedream.png" class="imgmusic" />
                        <span class="info"><span>The War on Drugs - <em>Lost in the Dream</em></span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <a href="http://www.alabamashakes.com/audio/sounds-color/" class="artist" target="_blank">
                        <img src="~/img/alabamashakes_soundandcolor.png" class="imgmusic" />
                        <span class="info"><span> Alabama Shakes - <em>Sound &amp; Color</em></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

