@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Portfolio -->
<section id="portfolio">
    <div id="useit" class="content-section-a">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title wow fadeInDownBig">
                <h2>Portfolio</h2>
                <p class="lead" style="margin-top:0"></p>
                <ul id="filterOptions">
                    <li class="active"><a href="#" class="jQuery"><span>jQuery</span></a></li>
                    <li><a href="#" class="javaScript"><span>JavaScript</span></a></li>
                    <li><a href="#" class="angular"><span>AngularJS</span></a></li>
                    <li><a href="#" class="mvc"><span>MVC/C#</span></a></li>
                    <li><a href="#" class="allWork"><span>All</span></a></li>
                </ul>
            </div>
        </div>
        <div class="book">
            <div class="container wow fadeInUpBig portfolioHolder">

                <!--FizzBuzz-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal1">
                        <img src="~/img/jquery.png" class="rotate porticon" />
                    </a>

                    <h3>FizzBuzz</h3>
                    <p class="lead"> </p>

                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Prime Numbers-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal2">
                        <img class="rotate porticon" src="~/img/jquery.png" alt="Generic placeholder image">
                    </a>
                    <h3>Prime Numbers</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Palindrome-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal3">
                        <img class="rotate porticon" src="~/img/jquery.png" alt="Generic placeholder image">
                    </a>
                    <h3>Palindrome</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Perfect Numbers-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal4">
                        <img class="rotate porticon" src="~/img/jquery.png" alt="Generic placeholder image">
                    </a>
                    <h3>Perfect Numbers</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Factorial-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal5">
                        <img class="rotate porticon" src="~/img/jquery.png" alt="Generic placeholder image">
                    </a>
                    <h3>Factorial</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Fibonacci Sequence-->
                <div class="col-xs-4 text-center portfolio-item jQuery">
                    <a href="" data-toggle="modal" data-target="#modal6">
                        <img class="rotate porticon" src="~/img/jquery.png" alt="Generic placeholder image">
                    </a>
                    <h3>Fibonacci Sequence</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Calculator-->
                <div class="col-xs-4 text-center portfolio-item javaScript">
                    <a href="" data-toggle="modal" data-target="#modal7">
                        <img class="rotate porticon" src="~/img/js.svg" alt="Generic placeholder image">
                    </a>
                    <h3>JavaScript Calculator</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Happy Numbers-->
                <div class="col-xs-4 text-center portfolio-item javaScript">
                    <a href="" data-toggle="modal" data-target="#modal8">
                        <img class="rotate porticon" src="~/img/js.svg" alt="Generic placeholder image">
                    </a>
                    <h3>Happy Numbers</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Armstrong Numbers-->
                <div class="col-xs-4 text-center portfolio-item javaScript">
                    <a href="" data-toggle="modal" data-target="#modal9">
                        <img class="rotate porticon" src="~/img/js.svg" alt="Generic placeholder image">
                    </a>
                    <h3>Armstrong Numbers</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Temperature Converter-->
                <div class="col-xs-4 text-center portfolio-item javaScript">
                    <a href="" data-toggle="modal" data-target="#modal10">
                        <img class="rotate porticon" src="~/img/js.svg" alt="Generic placeholder image">
                    </a>
                    <h3>Temperature Converter</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Calculator-->
                <div class="col-xs-4 text-center portfolio-item angular">
                    <a href="" data-toggle="modal" data-target="#modal11">
                        <img class="rotate porticon" src="~/img/angular.png" alt="Generic placeholder image">
                    </a>
                    <h3>Car Finder</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
                <!--Calculator-->
                <div class="col-xs-4 text-center portfolio-item angular">
                    <a href="" data-toggle="modal" data-target="#modal7">
                        <img class="rotate porticon" src="~/img/angular.png" alt="Generic placeholder image">
                    </a>
                    <h3>Magic 8 Ball</h3>
                    <p class="lead"></p>
                    <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
</section>
<!--Modals-->

<!-- FizzBuzz -->
    <!--FizzBuzz-->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="modal-title">FizzBuzz</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-xs-12">
                    <p>This program accepts two numbers between 1 and 100 from the user.  The program then iterates through all numbers from 1 to 100, printing numbers in ascending order to the screen. For each number that is a multiple of the first number input by the user, the program will print "<span class="fizzdisplay">Fizz</span>" instead of the number.For each number that is a multpiple of the second number input by the user, the program will print "<span class="buzzdisplay">Buzz</span>" instead of the number. For numbers that are multiples of both numbers, the program will print "<span class="fizzbuzzdisplay">FizzBuzz</span>" instead of the number.</p>
                    <center>
                        <label>Enter a number:</label><input type="number" class="userinput" id="fb1"><br />
                        <label>Enter a number:</label><input type="number" class="userinput" id="fb2"><br />
                        <input type="button" class="funcbtn1" value="FizzBuzz!" id="getfb" />
                        <input type="button" class="funcbtn2" value="Clear!" id="clearfb" />
                    </center>
                    <div class="jsdisplay" id="showfb"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <pre class="brush: js">
$(document).ready(function () {
    $("#getfb").on("click", function () {
    $("#showfb").empty();
    var user1 = $('#fb1').val();
    var user2 = $('#fb2').val();
    if (isNaN(user1) || isNaN(user2)) {
        $("#showfb").addClass("error");
        $("#showfb").text("Please enter two numbers!").show();
    }
    else if (user1 >= 100 || user1 <= 0 || user2 >= 100 || user2 <= 0) {
        $("#showfb").addClass("error");
        $("#showfb").text("Please enter two numbers between 1-100.").show();
    }
    else {       
        var numArr = [user1, user2];
        var fizz = numArr[0];
        var buzz = numArr[1];
        for (var i = 1; i <= 100; i++) {
            numArr[i] = parseInt(numArr[i]);
            var fizzRemain = i % fizz;
            var buzzRemain = i % buzz;
            if (fizzRemain == 0 && buzzRemain == 0) {
                $("#showfb").append("<span class='fizzbuzzdisplay'>" + 'FizzBuzz ' + "</span>").show();
            }
            else if (fizzRemain == 0) {
                $("#showfb").append("<span class='fizzdisplay'>" + 'Fizz ' + "</span>").show();
            }
            else if (buzzRemain == 0) {
                $("#showfb").append("<span class='buzzdisplay'>" + 'Buzz ' + "</span>").show();
            }
            else {
                $("#showfb").removeClass("error");
                $("#showfb").append("<span class='jsdisplay'>" + i + " " + "</span>").show();
            }
        }
    }
    });


                            </pre>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <ul>
                    <li><img src="~/img/prog-jquery.png" /></li>
                    <li><img src="~/img/prog-js01.png" /> </li>
                    <li><img src="~/img/html5-02.png" /> </li>
                    <li><img src="~/img/css3-02.png" /> </li>
                    <li><img src="~/img/rus-vk-01.png" /> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

  <!--Exercises-->
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/Exercises/fizzbuzz.js"></script>
<script src="~/js/Exercises/prime.js"></script>
<script src="~/js/Exercises/palindrome.js"></script>
<script src="~/js/Exercises/perfect.js"></script>
<script src="~/js/Exercises/factorial.js"></script>
<script src="~/js/Exercises/fibonacci.js"></script>