
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section -->
<section id="experience" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center blogpad">
                <h2 class="section-heading">Experience</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="timeline">
                    <li class="block wow bounceIn" data-wow-delay=".6s">
                        <div class="timeline-image">
                            <i class="fa fa-code fa-3x about-fa"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Janurary 2016 - June 2016</h4>
                                <h4 class="subheading">Coder Foundry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I became proficient in producing professional quality MVC/.NET web applications using C#, LINQ, SQL, JQuery, JavaScript, HTML, CSS, and Bootstrap.  Examples of my work can be seen in my <a class="text-muted" href="@Url.Action("portfolio", "home")">portfolio.</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted block wow bounceIn" data-wow-delay=".6s">
                        <div class="timeline-image">
                            <i class="fa fa-briefcase fa-3x about-fa"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2012 - October 2015</h4>
                                <h4 class="subheading">Travel Manager - Siteworx, LLC</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Managed corporate travel operations for a digital agency  through the online travel tool.  Provided additional support to the project management team through budget tracking and billing management.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted block wow bounceIn" data-wow-delay=".6s">
                        <div class="timeline-image">
                            <i class="fa fa-graduation-cap fa-3x about-fa"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2010 - August 2012</h4>
                                <h4 class="subheading">Administrative Assistant - Town of Garner</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Worked as an administrative assistance for the Garner Parks and Recreation department.  Supported program registration, balanced daily cash and check receipts, and organized and participated in quartly town events.</p>
                            </div>
                        </div>
                    </li>
                    <li class="block wow bounceIn block wow bounceIn" data-wow-delay=".6s">
                        <div class="timeline-image" >
                            <i class="fa fa-university fa-3x about-fa"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2011 - May 2012</h4>
                                <h4 class="subheading">Graduate Teaching Assistant at North Carolina State University</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Led class lectures, held office hours, graded assignments, and provided administrative support to Professors.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted block wow bounceIn" data-wow-delay=".6s">
                        <div class="timeline-image">
                            <i class="fa fa-graduation-cap fa-3x about-fa"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2010</h4>
                                <h4 class="subheading">Graduated North Carolina State University</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Achieved a Bachelor of the Arts in History.  Inducted in the Phi Alpha Theta (History Honors Society).</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted block wow bounceIn">
                        <a href="~/img/Matthew Clutts Resume.pdf" target="_blank">
                            <div class="timeline-image rotate" id="resumebtn">
                                <i class="fa fa-file-text-o fa-3x about-fa"></i>
                            </div>
                        </a>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4><br /></h4>
                                <h4 class="subheading"><a href="~/img/Matthew Clutts Resume.pdf" target="_blank" class="btn btn-lg mybutton_cyano"><span class="network-name">My Resume!</span></a></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-body">

                                </div>
                            </div>
                         </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

